{% extends "dansapp/layout.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
    <h1>Hello, {{ user.username }}!</h1>
    
    <h4>Saved Portfolios</h4>

    <div class="row">
        <div class="col-lg-5">
            <form action="{% url 'portfolios' user.username %}" method="POST">
            {% csrf_token %}{{ formset.management_form }}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Portfolio Name</th>
                            <th scope="col">Positions</th>
                        </tr>
                    </thead>
                    {% for form in formset %}
                    {% if not form.name.value %}
                    <tr><td><a style="color: teal;" class="link-success" data-bs-toggle="collapse" href="#add" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <h6>Add New Portfolio</h6>
                      </a></td></tr>
                    <tr style="border-top-style: hidden;"><td colspan="2">
                        <div class="collapse" id="add">
                            {% include "dansapp/formlayouts/portfolioform.html" with form=form %}
                        </div>
                    </td></tr>

                    {% else %}
                    <tr>
                        <td><a class="link-primary portfolioname" data-bs-toggle="collapse" href="#a{{ form.id.value }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <h6>{{ form.name.value }}</h6>
                        </a></td>
                        <td>
                            {% for field in form %}
                                {% if "ticker" in field.label_tag %}
                                    {% if field.value %}
                                        <h6 style="display: inline-block;">{{ field.value }}</h6>
                                    {% endif %}
                                {% endif %}
                                {% if "weight" in field.label_tag %}
                                    {% if field.value %}
                                        <h6 style="display: inline-block; color: lightslategrey;">{{ field.value }}%</h6><br>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr style="border-top-style: hidden;"><td colspan="2">
                        <div class="collapse" id="a{{ form.id.value }}">
                            {% include "dansapp/formlayouts/portfolioform.html" with form=form %}
                        </div>
                    </td></tr>
                    {% endif %}
                    {% endfor %}
                </table>
                <button type="submit" class="btn btn-outline-teal">Save Changes</button>
                <a class="btn btn-outline-secondary" href="{% url 'user' username=user.username %}" role="button">Back</a>
            </form>
        </div>
    </div>
{% endblock %}