.navbar {
    margin-bottom: 10px;
}

.alert {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 1200px;
    width: 95%;
    z-index: 1000;
}

.table-fit {
    width: auto;
}

.graph {
    max-width: 1200px;
}

.faq {
    padding-top: 30px;
    margin-bottom: -30px;
}