<div class="row">
    <div class="col-lg-3 meta_form">
        {% include "dansapp/formlayouts/metaform.html" with form=form %}
    </div>

    <div class="col-lg-3 csv_parent_block" style="display: none;">
        <table class="table table-hover"><tbody id="csv_block"></tbody></table>
    </div>

    {% for form in formset %}
    
    <div class="col-lg-3 portfolio_form">
        {% include "dansapp/formlayouts/portfolioform.html" with form=form %}
    </div>
    {% endfor %}

    <div class="col-lg-3" id="tickerform_block">
        {% include "dansapp/formlayouts/tickerform.html" with tickerform=tickerform %}
    </div>
</div>    
{% if user.is_authenticated %}
<div class="row">
    <div class="col">
        <select style="width: auto; float: left; margin-right: 5px; margin-top: 5px;" class="form-select" aria-label="Default select example", id="select_portfolio" onchange="addForm(event.target.value)">
            <option disabled selected value="default">Saved Portfolios</option>
            {% for portfolio in saved %}
                <option style="width: 0px;" value="{{ portfolio }}">{{ portfolio }}</option>
            {% empty %}
                <option style="width: 0px;">No saved portfolios! Head to your account page to get started.</option>
            {% endfor %}
        </select>
        <select style="width: auto; float: left; margin-top: 5px;" class="form-select" aria-label="Default select example", id="select_csv" onchange="addForm(event.target.value, csv=true)">
            <option disabled selected value="default">Saved CSVs</option>
            {% for portfolio in saved_csvs %}
                <option style="width: 0px;" value="{{ portfolio }}">{{ portfolio }}</option>
            {% empty %}
                <option style="width: 0px;">No saved CSVs! Head to your account page to get started.</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endif %}
<button style="margin-top: 5px;" type="submit" class="btn btn-outline-teal">Submit</button>
<button style="margin-top: 5px;" type="button" class="btn btn-outline-primary" id="add_form" onclick="addForm(event.target.id)">Add Additional Portfolio</button>
<button style="margin-top: 5px;" type="button" class="btn btn-outline-danger" id="remove_form" style="display: none;" onclick="addForm(event.target.id)">Remove Portfolio</button>