<div class="table-responsive">
    <table class="table table-hover">
        {% for error in tickerform.non_field_errors %}
        <div class="alert alert-danger alert-dismissible sticky-top fade show" role="alert">
            <strong>Validation error:</strong> {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% for field in tickerform %}
        {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible sticky-top fade show" role="alert">
            <strong>{{ field.label }}:</strong> {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
            <tr><td>{{ field.label_tag }}</td>
                <td>{{ field }}</td></tr>
        {% endfor %}
    </table>
    </div>